h1{
 color: white;
 font-size: medium;
}

mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
 }
 mat-toolbar{
  background-color: #FF4081;
 }

  .mat-list-item-color{
      color: #90A4AE;
      margin-left: 10px;
      cursor: pointer;
    }

  .avatar{
  color: #ffffff;
  font-size: medium;
 }

.sidenav-color{
  background-color: #ffffff;
}

 div.janela {
    color:#ffffff;
    position: absolute;
	  left: 100%;
    margin-left:-60px;
  }

  .TitleLogo{
    position: relative;
    top:-8px;
    margin-left: 6Tpx;
    font-family:'Courier New', Courier, monospace;
  }

  .TitleMenu{
    position: relative;
    top: -5px;
    margin-left: 6px;
    font-family:'Courier New', Courier, monospace;
    color:  hsl(0, 0%, 43%);
  }



