<mat-toolbar >
   <mat-toolbar-row>
     <button mat-icon-button (click)="onSelect()">
       <mat-icon style="color:#fff;">menu</mat-icon>
     </button>
     <h1><mat-icon style="color:#fff;">sell</mat-icon><span class="TitleLogo">(+)Encartes</span></h1>
     <div class="janela">
     <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login" (click)="onSelect()">
        <mat-icon>login</mat-icon>
        <span class="mat-list-item-color">Login</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span class="mat-list-item-color">Logout</span>
      </button>
      <button mat-menu-item routerLink="/config" (click)="onSelect()">
        <mat-icon>settings</mat-icon>
        <span class="mat-list-item-color">Configurar</span>
      </button>
      <button mat-menu-item routerLink="/dash" (click)="onSelect()">
        <mat-icon>language</mat-icon>
        <span class="mat-list-item-color">Sincronizar</span>
      </button>
    </mat-menu>

    </div>
   </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened={{liga}} class="sidenav-color">
     <mat-nav-list>
       <a mat-list-item routerLink="/" (click)="onSelect()"><mat-icon style="color:#000;">home</mat-icon><span class="TitleMenu">Home</span></a>
       <a mat-list-item routerLink="/lista" (click)="onSelect()"><mat-icon style="color:#000;">fact_check</mat-icon><span class="TitleMenu">Lista de produtos</span></a>
       <a mat-list-item (click)="onSelect()"><mat-icon style="color:#000;">manage_search</mat-icon><span class="TitleMenu">Histórico</span></a>
     </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
       <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
