<div class="container">
   <span class="title">{{title}}</span>

    <mat-form-field appearance="outline">
      <mat-label>Código de barra</mat-label>
      <input matInput placeholder="Código do produto" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nome do produto</mat-label>
      <input matInput placeholder="Nome" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Preço</mat-label>
      <input matInput placeholder="Preço" type="number" name="preco" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quantidade</mat-label>
      <input matInput placeholder="Quantidade" type="number"/>
    </mat-form-field>


</div>
