.container{
 display: flex;
 flex-direction: column;

 margin-top: 20px;
 margin-left: 10px;
 margin-right: 10px;
}

 .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: 400;
  color: #fff;
  background-color:#927fbf;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px ;
}
