<div class="container">
   <span class="title">{{title}}</span>




    <mat-form-field appearance="outline">
      <mat-label>Código de barra</mat-label>
      <input matInput placeholder="Código do produto" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nome do produto</mat-label>
      <input matInput placeholder="Nome" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Preço</mat-label>
      <input matInput placeholder="Preço" type="tel"  name="preco" mask="separator.2" thousandSeparator="." />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quantidade</mat-label>
      <input matInput placeholder="Quantidade" type="text" mask="000" min="1" max="5"/>
    </mat-form-field>


</div>
