.container{
 display: flex;
 flex-direction: column;

 margin-top: 20px;
 margin-left: 10px;
 margin-right: 10px;
}

.lojaDescricao{
  position: absolute;
  top:15px;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  color: #FF4081;
  margin-left: 10px;
}
.mattab{
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  color: #FF4081 !important;
  margin-left: 2px;
}

.video{
  max-width: 100%;
  max-height: 200px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #FF4081;
  margin-bottom: 10px;
}



