.container{
 display: flex;
 flex-direction: column;
 margin-top: 5px;
 margin-bottom: 5px;
 margin-left: 10px;
 margin-right: 10px;
 height: 100%;
}

.lojaDescricao{
  position: absolute;
  top:15px;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  color: #FF4081;
  margin-left: 10px;
}
.mattab{
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  color: #FF4081 !important;
  margin-left: 2px;
}
.scroller {
  position: absolute;
  margin-top: 280px;
  width: 100%;
  height: 100%;
  scroll-behavior: auto;
  background-color: white;
}
.full-width{
  width: 90%;
  height: 50px;
  margin: 6px;
}

.codbarra{
  flex-direction: row;
  position: relative;
  top:5px;
  margin-bottom: 10px;
  height: 270px;
  max-width: 98%;
  background-color: #ffd3b6;
}





